/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* Global Styles */
* {
  color: inherit;
}

body {
  background-color: rgb(218,222,225);
  color: rgb(29, 37, 46);
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.clear {
  clear: both;
}

.is-hidden {
  display: none;
}

/* Layout and Design */
article {
  margin: auto;
  width: 80%;
}

#aurora-image {
  width: 40vw;
}

button {
  width: 10%;
}

button:hover {
  font-weight: 700;
}

button, 
input {
  min-height: 6vh;
  border-radius: 6px;
}

.columns {
  background: inherit;
  float: left;
  width: 30%;
  margin: auto 0;
}

#data {
  margin: 0 10vw;
}

#data, 
footer {
  background: rgb(29, 37, 46);
  color: rgb(218,222,225);
  line-height: 1.75;
  padding: 2vh;
  font-size: 0.7rem;
  text-align: center;
}

.icon {
  width: 30%;
}

input {
  padding-left: 1vh;
  width: 40%;
}

.space-before {
  padding: 2vh 0;
}

.top {
  background: linear-gradient(45deg, #5fb34c, #833987, #2a0000),
              url('') no-repeat;
              background-blend-mode: multiply;
              background-size: cover;
  color: rgb(218,222,225);
  padding: 20px;
}

/* Typography */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: rgb(218,222,225);
  font-size: .8rem;
}

h1 {
  color: inherit;
  font: 2.5rem Oswald, Verdana, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h2, h3 {
  color: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

header {
  font-weight: bold;
}

header, 
section {
  padding: 4vh 4vw;
}

.larger {
  font-size: 1.5rem;
}

li {
  list-style-type: none;
}

li, 
p {
  color: inherit;
  font-size: 1.25rem;
}

#status {
  line-height: 1.5;
}

.uppercase {
  text-transform: uppercase;
}

/******************************************
/* iOS Hack to Fix Button Event Listener Not Firing
/*******************************************/
.is-ios * {
  cursor: pointer;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
@media all and (max-width: 600px) {
  #aurora-image {
    width: 50vw;
  }
}

@media all and (max-width: 800px) {
  article, 
  .columns {
    float: none;
    padding-bottom: 2vh;
    width: 100%;
  }

  button {
    width: 20%;
  }

  h3 {
    font-size: 1.5rem;
  }

  img {
    width: 20%;
  }
}